.mybody {
  color: white;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.droparea {
  width: 240px;
  height: 240px;
  align-items: center;
  text-align: center;
  border: 4px dashed #eeeeee;
  position: relative;
}
